@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
*{
	text-decoration: none;
	font-family: 'Roboto Mono', monospace !important;
}
body{
}
#main-container {
    margin: 150px auto;
    width: 800px;
}

table {
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 20px;
}

thead {
    background-color: #7da49c;
    border-bottom: solid 5px #12c399;
    color: white;
}

tr:nth-child(even) {
    background-color: #ddd;
}

