@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
*{
	text-decoration: none;
	font-family: 'Roboto Mono', monospace !important;
}
body{
}
#main-container {
    margin: 150px auto;
    width: 800px;
}

table { 
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 70%;
}

th,
td {
    padding: 20px;
}

thead {
    background-color: #7da49c;
    border-bottom: solid 5px #12c399;
    color: white;
}

tr:nth-child(even) {
    background-color: #ddd;
}






footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}
.copy {
    font-size: 200px;
}
.sociales {
	display: flex;
	justify-content: center;
    width: 50px;
    text-align: center;
    font-size: 28px;
	margin: 10px;
}
.sociales a {
    color: #6196FF;
    text-decoration: none;
}
@media (min-width:1024px) {
    .contenedor {
        width: 1000px;
    }
}